
# ignore data directory
/data

# ignore cache
structured/datacache
structured/mediacache

# ignore user-specific config
structured/conf/structured-conf.d/

# ignore Eclipse project
structured/.buildpath
structured/.project
structured/.settings


